
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color:white; 
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme {
    background-color: #191d28; 
    color: #c9d1d9;
}

header {
    background-color: #1e3a8a;
    color: white;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

body.dark-theme header {
    background-color: #0d1117;
}

header h1 {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
}

body.dark-theme header h1 {
    color: cyan; 
}

#button {margin-right: 10px;
    background-color: cyan;
    font-weight: bold;
    color: black; 
    border: none; 
    padding: 0.5rem 1rem; 
    border-radius: 20px; 
    transition: background-color 0.3s, color 0.3s; 
}

body.dark-theme #button {
    background-color: #58a6ff;
    color: black; 
}

#button:hover {
    background-color: #1e2030;
}

body.dark-theme #button:hover {
    background-color: #1e2030;
}

main {
    padding: 2rem 1rem;
    max-width: 1600px;
    margin: 0 auto;
}

#numerical-data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
    align-items: center;
    justify-items: center;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
}

body.dark-theme #numerical-data {
    background-color: #191d28; 
}

.data-item {
    font-size: 0.9rem;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.data-item-center {
    font-size: 2.7rem;
    font-weight: bold;
    color: black;
}

body.dark-theme #numerical-data .data-item {
    color: cyan;
}

body.dark-theme .data-item-center {
    color: white; 
}

.label {
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #6b7280;
}

.data-item .value {
    font-size: 1.2rem;
}

#component {
    background-color: #f8fafc;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

body.dark-theme #component {
    background-color: #191d28; 
    color: #c9d1d9; 
}

#component > div {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr 1.5fr 1fr;
    align-items: center;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

body.dark-theme #component > div {
    background-color: #191d28; 
    color: #c9d1d9;
}

#component > div.header {
    font-weight: bold;
    background-color: #3b82f6;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

body.dark-theme #component > div.header {
    background-color: #0d1117;
}

#component > div:hover {
    background-color: #e5f3ff;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    color: #1e3a8a;
}

body.dark-theme #component > div:hover {
    background-color: #30363d;
}

@media (max-width: 768px) {
    #component > div {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #component > div span {
        font-size: 14px;
    }
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: #1e3a8a;
    color: white;
    height: 60px;
}

body.dark-theme #nav {
    background-color: #0d1117;
}

#logo h1 {
    margin: 0;
}

#dropdown-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#controls {
    display: flex;
    align-items: center;
    gap: 1rem;
}

button, .dropdown .dropbtn {
    background-color: #2e3241; 
    color: #fff;
    border: 0;
    padding: 0.5rem 1rem;
    border-radius: 20px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme button, body.dark-theme .dropdown .dropbtn {
    background-color: #2e3241; 
    color: #fff; 
}

button:hover, .dropdown .dropbtn:hover {
    background-color: #1e2030; 
}

body.dark-theme button:hover, body.dark-theme .dropdown .dropbtn:hover {
    background-color: #1e2030; 
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

body.dark-theme .slider {
    background-color: #58a6ff; 
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #58a6ff; /* Blue slider color */
}

input:checked + .slider:before {
    transform: translateX(26px);
}


.select{
    border-color: #2e3241;
    background-color: #2e3241;
    border-radius: 20px;
    height: 30px;
    margin: 10px;
    color: white;
    padding: 5px;
}